/*
* {
    border: 1px solid red;
}
*/

h2 {
    text-align: center;
    padding-top: 25px;
}

body {
    box-sizing: border-box;
    font-family: arial;
    font-size: 48px;
    background: lightgray;
}

p {
    font-size: 18px;
    text-align: center;
}

.off {
    display: none;
}

div {
    display: inline-block;
    text-align: center;
    width: 160px;
    margin: 0;
    height: 138px;
    padding: 10px;
}

.navimg {
    height: 3%;
    text-align: center;
}

.img {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    height: 130px;
    width: 130px;
    padding: 10px;
}

.row {
    width: 50%;
    height: 160px;
    margin: auto;
}

.ul {
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

.uu {
    border-bottom: 2px solid black;
}

.ur {
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

.ml {
    border-right: 2px solid black;
}

.mm {}

.mr {
    border-left: 2px solid black;
}

.bl {
    border-right: 2px solid black;
    border-top: 2px solid black;
}

.bm {
    border-top: 2px solid black;
}

.br {
    border-left: 2px solid black;
    border-top: 2px solid black;
}
